---
layout: page
title: System Overview
description: "The high level components of the system... without geeky details"
button: false
button-ref: None
button-description: None
header-image: true
header-path: "images/home-2.jpg"

---

<div id="diagram">
    <div class="title">
    <h2 data-toc-text="System Overview">System Overview</h2>
    <h3 data-toc-skip>The system can be used either by people trying to control their food portions (the "End-user") or by canteen workers (such as cooks or nutricionists) on canteens using our system</h3>
    </div>

    <img class="center" src="{{site.assets}}/images/architecture-clients.png" alt="Project Architecture Diagram" style="max-width:100%;
    max-height:100%;"></img>
    <p class="text-muted" style="text-align: center">
        IoT for Nutrition High-Level Architecture Diagram
    </p>
</div>

<div id="details">
    <div class="title">
    <h2 data-toc-text="Details">System Overview Details</h2>
    </div>
    
    <table id="tablePreview" class="table" style="table-layout:fixed">
        <!--Table head-->
        <thead>
        <tr>
            <th>Component</th>
            <th>Purpose</th>
        </tr>
        </thead>
        
        <tbody>
            {% for deployment in site.data.architecture-details %}
            <tr>
                <th scope="row">{{ deployment.title }} </th>
                <td>{{ deployment.text}} </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
<!--     
    <div class="card-deck">
    {% for card in site.data.architecture-details %}
        {% include infobox.html %}
    {% endfor %}
    </div> -->
</div>

        