---
layout: page
title: Getting Started 
description: "Your Balanced Meal, Made Easy"
button: false
button_ref: None
button_description: None
comments: false
header-image: true
header-path: "images/getting-started.jpg"
toc: true
---

<!-- 
Aimed at someone wanting to understand the project context, objectives, high level
planning among other information

- know the team
- Have an understanding of the context
- Identify the problem
- Have a description of the solution high level features - those you want to be known
- Have , if applicable, the looks of the solution from mockup to prototypes and the final system...
- The TECH SPECS and architecture of the system
- Have an overview on the schedule (e.g. features vs timeline )
- Have a notion of possible Risks and challenges

 -->

<!-- What are we trying to solve -->
<div id="what">
    <div class="title" style="text-align: center">
    <h2>What are we trying to solve?</h2>
    </div>

    <h3 data-toc-skip>We are consuming ever bigger portions on ever larger plates!</h3>
    <div class="blockquote undefined">
            <p>
            If you want to see how inflated our portion sizes have become, don’t go to the supermarket – head to an antique shop. You spot a tiny goblet clearly designed for a doll, only to be told it is a “wine glass”. What look like side plates turn out to be dinner plates. The real side plates resemble saucers.
            </p>
            <small>
              <a href="https://www.theguardian.com/lifeandstyle/2016/apr/25/problem-portions-eating-too-much-food-control-cutting-down">Our gigantic problem with portions: why are we all eating too much?, The Guardian</a>
            </small>
          </div>
    

    <h3 data-toc-skip>Why should we care about the size of our portions?</h3> 
    Research suggests that people with more food in front of them tend to eat more, whether it's served to them on plates or they serve themselves from a container.
    <br>
    But few of us are actually doing anything to make up for it. At no other period in history have we faced the problem of too much food instead of too little.
    <br>

    <h3 data-toc-skip>In canteens the problem is worse</h3>
    In self-serving canteens and refectories, the challenge of assessing the correct portions size is amplified since the contents/ingredients of each recipe are ignored by the public. For the canteen workers, the main challenge is the difficulty in adapting adequate food portions for each person profile, needs and goals.

</div>

<!-- Who would have this problem ? -->
<div id="how">
    <div class="title" style="text-align: center">
        <h2>Who would have this problem?</h2>
        <h3 data-toc-skip>Meet our persona and <a href="http://xcoa.av.it.pt/~pei2018-2019_g08/vision.html">scenarios</a></h3>
    </div>

    <div class="card-deck">
        {% for persona in site.data.getting_started-persona %}
        <div class="card" style="width: 20rem;">
            <a>
                <img class="card-img-top" style="width: 100%;" src="{{ site.assets }}/images/persona/{{ persona.photo }}" alt="{{ persona.name }}">
            </a>

            <div class="card-header card-header-info">
                <a style="font-weight: bold">{{persona.name}}</a>
                <p class="category">{{persona.description}}</p>
            </div>
            <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="font-weight: bold">Motivations:</li>
                {% for characteristic in persona.characteristics %} 
                    <li class="list-group-item">{{characteristic}}</li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
    
<!-- How are we going to solve this problem? -->    
<div id="how">
    <div class="title" style="text-align: center">
        <h2>How are we trying to solve the problem?</h2>
        <h3 data-toc-skip>By creating a system that allows real-time advisory to the users of how much they can eat given their person profile and needs (such as the diet and food restrictions), allowing for a better portion control and diversity in their plate.</h3>
    </div>

    <div id="features">
        <h3 style="text-align: center">Features</h3>
        <h4 style="text-align: center">More details in <a href="http://xcoa.av.it.pt/~pei2018-2019_g08/features.html">Features</a>.</h4>
        <div class="card-deck">
            {% for features in site.data.getting_started-features %}
            <div class="card" style="width: 20rem;">
                <div class="card-header card-header-info">{{features.title}}</div>
        
                <ul class="list-group list-group-flush">
                    {% for feature in features.features %} 
                        <li class="list-group-item">{{feature}}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>    
    </div> 
    
    <div id="features">
        <h3 style="text-align: center">Geeky detail</h3>
        <h4 style="text-align: center">What will you need to implement our solution?</h4>
        We are creating a system to solve the portions problem using weight and proximity sensors, several Raspberry Pi 3 to control the several Food Stands in the Canteen and to receive and send information into a central server that can be implemented using any PC. More details in <a href="http://xcoa.av.it.pt/~pei2018-2019_g08/architecture-client.html">System Overview</a>.
        <br>
        Documentation for developers, including a step-by-step deployment guide available in <a href="http://xcoa.av.it.pt/~pei2018-2019_g08/assets/docs/IoTNutrition_Developers_Documentation.pdf">Quickstart</a>.
    </div>  

    <div class="section" id="carousel">
            <div id="what" style="text-align: center" >
                <div class="title" style="text-align: center">
                <h2 id="intro"> </h2>
                <h3>Mockup for our vision for the future including collaboration with SASUA</h3>
            </div>
            <div class="container">
              <div class="row">
                <div class="col mr-auto ml-auto">
                  <!-- Carousel Card -->
                  <div class="card card-raised card-carousel">
                    <div class="carousel slide" id="carouselExampleIndicators" data-interval="3000" data-ride="carousel">
                      <ol class="carousel-indicators">
                        {% for render in site.data.renders %}
                        {% if render.number == 1 %}
                            <li class="active" data-target="#carouselExampleIndicators" data-slide-to="0"></li>
                        {% else %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="{{render.number | minus: 1}}"></li>
                        {% endif %}
                        {% endfor %}
                      </ol>
                      <div class="carousel-inner">
                        {% for render in site.data.renders %}
                        {% if render.number == 1 %}
                        <div class="carousel-item active">
                        {% else %}
                        <div class="carousel-item">
                        {% endif %}
                            <img class="d-block w-100" alt="Slide {{render.number}}" src="{{site.assets}}/images/renders/render0{{render.number}}.png">
                            <div class="carousel-caption d-none d-md-block">
                            <h4 style="color:black; background: white; opacity: 0.5">
                                <!-- <i class="material-icons">more</i> --> {{render.description}} 
                            </h4>
                            </div>
                        </div>
                        {% endfor %}
                      </div>
                      <a class="carousel-control-prev" role="button" href="#carouselExampleIndicators" data-slide="prev">
                        <i class="material-icons">keyboard_arrow_left</i>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" role="button" href="#carouselExampleIndicators" data-slide="next">
                        <i class="material-icons">keyboard_arrow_right</i>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                  </div>
                  <!-- End Carousel Card -->
                </div>
              </div>
            </div>
          </div>
</div>

<!-- Current Progress -->    
<div id="current-progress">
    <div class="title" style="text-align: center">
        <h2>What have we done?</h2>
    </div>
    <ul>
        <li>For Demo 1, we proved that the project is doable by integrating several components and implementing a few key features (see <a href="http://xcoa.av.it.pt/~pei2018-2019_g08/features.html">Features</a>). After 15 May (Demo 2), more info will be provided about what we have done.</li>
        <li>For Demo 2 (Milestone 4), we've implemented the final Database, and all the modules that interact directly with the users, specifically the UI on the Food Stands Displays.</li>
        <li>For Demo 3 (Milestone 5), we've presented the final product, with all the components integrated, including an initial version of the Dashboard for Canteen Workers (Canteen Control Interface).</li>
        <li>For Demo 4 (Students@DETI, Milestone 6), we've presented the final product, with all the components integrated and fully developed, including the final version of the Dashboard for Canteen Workers (Canteen Control Interface).</li>
    </ul>

    <div style="text-align: center">
    <a class="btn btn-round btn-info" href="http://xcoa.av.it.pt/~pei2018-2019_g08/features.html"><i class="material-icons">explore</i> Features</a>
    <a class="btn btn-round btn-danger" href="https://www.youtube.com/watch?v=-d4_4PYNAwY&list=PLjof47ZuidU_wSRm0dhgoR6hi6VYozy4k"><i class="material-icons">visibility</i> See our system in action</a>
</div>
</div> 

<!-- Who are we -->
<div id="who">
    <div class="title" style="text-align: center">
    <h2>Who Are We?</h2>
    <h3 data-toc-skip>5 students of Computer Engineering<br>solving a concrete problem in their final project</h3>
    </div>
    
    <br>
    <div class="row" style=" text-align: center;">
        {% for member in site.data.team %}
            {% if member.mentor == false %}
            <div class="col-sm-2 ml-auto">
                <img class="rounded-circle img-fluid" alt="Circle Image" src="{{ site.assets }}/images/team/{{ member.photo }}">
                <h4 style="font-weight: bold;">{{ member.name }}</h4>
            </div>
            {% endif %}
    
        {% endfor %}
    </div>
</div>

<!-- More details -->
<div id="details">
    <div class="title" style="text-align: center">
        <h2>More Details</h2>
    </div>
    <div class="card-deck">
        {% for card in site.data.getting_started-details %}
            {% include infobox.html %}
        {% endfor %}
    </div>

</div>
