---
layout: page
title: Quickstart for Developers
description: "How to implement our system"
button: false
button_ref: None
button_description: None
comments: false
header-image: true
header-path: "images/developers.jpg"
---

<div id="guide">
    <div class="title">
        <h2>Quickstart Deployment Guide</h2>
        Step-by-step guide on how to deploy our system, starting by the physical setup and then the required software configurations.<br>See <a href='http://xcoa.av.it.pt/~pei2018-2019_g08/architecture.html'>Architecture</a> for more details.
    </div>

    <div id="hardware">
        
        <h3>1. Physical Setup</h3>
        
        <h4>Before Starting - Required Material</h4>
            For each canteen: 
            <ul>
                <li>1 Canteen Control Unit (Raspberry Pi or any PC)</li>
            </ul>
            Per food stand (a canteen has 1 or more food stands): 
            <ul>
                <li>X Ultrasonic sensor (where X is the number of food containers)</li>
                <li>1 Card Reader</li>
                <li>1 Raspberry Pi</li>
                <li>1 Load-Cell</li>
                <li>1 HX711</li>
                <li>1 monitor</li>
            </ul>
        <h4>A. Food Stand</h4>
        In a real deployment scenario, if you're working for a canteen, you'll probably already have the food stands, but if you're trying to test our system in other contexts it might be useful an experimental food stand.<br>
        For the purpose of our project, we developed and built a food stand with a piece of wood acting as the place where the food plates are put on and boxes acting as food containers - use it as an inspiration for you.<br>
        The position of the sensors can be decided by you but have in mind the following guidelines:
        <ul>
            <li>The load cell must be protected and must be below the place where the food plate is going to be put on</li>
            <li>The Ultrasonic sensors must be put on each food stand food container, can't be blocked by any object and should not be pointed towards any reflective surface </li>
            <li>The monitor for the Food Stand Display must be put in a position so it's easy for the users to look at it while taking food from the food containers</li>
            <li>All sensors and required cables can be fragile and susceptible to things like the water put under the food containers.</li>
        </ul>
        <h4>B. Create the Food Stand</h4>
        <ol>
            <li>Attach the Ultrassonic sensors on each food stand, without anything blocking it. The sensors must be able to "see" until the other side of the containers</li>
            <li>Connect each Ultrassonic sensor USB-shaped connector to the Sensors Board</li>
            <li>Connect the Sensors Board to the Raspberry Pi (see Schematics available in the table below)</li>
            <li>Attach the Load Cell (see our <a href="{{ site.assets }}/images/prototype.png">prototype</a> for inspiration) and connect the HX711 module to it</li>
            <li>Connect the HX711 module to the Raspberry Pi (see Schematics available in the table below)</li>
        </ol>
    </div>

    <div id="software">
        <div class="title">
            <h3>2. Software Side</h3>
        </div>
        <h4>Deploying a Server and Database</h4>
            
            <h5>Deploying the Database</h5>
                <ol>
                    <li>Install MySQL Server 8.0 (instructions <a href=https://dev.mysql.com/doc/refman/8.0/en/installing.html>here</a>)</li>
                    <li>Using MySQL CLI, create the required user. Another user/password can be used but you'll have to change the Database Connection information in the file Server/server/database/DB_API.py, method connect. <br>
                        <ol>
                            <li>Run mysql -u root -p</li>
                            <li>On the CLI, run CREATE USER 'user'@'%' IDENTIFIED BY 'iotnutdb';<br>
                                GRANT ALL PRIVILEGES ON *.* TO 'user'@'%' WITH GRANT OPTION;<br>
                                FLUSH PRIVILEGES;<br>
                                EXIT;
                            </li>
                        </ol>                                                                                                                                           
                    </li>
                    <li>Using MySQL Workbench or CLI, run the provided script to create the Database. If you wish to remotely manage the database, use the previously created user and password and add the following lines to /etc/mysql/my.cnf:
                            <br><br>
                            [mysqld]
                            <br>
                            bind-address    = 0.0.0.0
                            <br>

                        Then run systemctl restart mysql</li>
                    
                </ol>

            <h5>Deploying the Server</h5>
                <ol>
                    <li>If not installed, install Python 3 and PIP3</li>
                    <li>On the Server/server folder, run pip/pip3 (the pip corresponding to the Python3 you have installed) -r requirements.txt. Administrator privileges might be needed.</li>
                    <li>To run the server, you can use screen if you want and then run the following command:  gunicorn -b 0.0.0.0:8000 server:app -n IoTNutritionServ', where the port 8000 can be changed by you by another you wish.<br>If gunicorn command is not found, run the command giving its full path (available in pip[3] show gunicorn)</li>
                </ol>

            <h4>Deploying a Canteen Control Unit</h4>
                <ol>
                    The Food Stand Controller should be by now with Raspbian installed.
                    <li>Connect the Canteen Control Unit to a network and activate/install (for example sudo apt install openssh-server) the SSH if you wish to process using SSH Connect the Canteen Control Unit to the same network as the CCU (University of Aveiro's internal network won't work).</li>
                    <li>If not installed, install Python 3 and PIP3.</li>
                    <li>On the SCI folder, run pip/pip3 (the pip corresponding to the Python3 you have installed) -r requirements.txt. Administrator privileges might be needed.</li>
                    <li>To run the Canteen Control Unit, run python3 SCI.py</li>
                </ol>

            <h4>Deploying a Food Stand Controller</h4>
            The Food Stand Controller should be by now with Raspbian installed and all the sensors attached, as described in the physical setup.
                <ol>
                    <li>Activate SPI, I2C and Remote GPIO interfaces on your Raspberry Pi. If you wish to proceed using SSH, also enable the SSH Interface. Connect the Food Stand Controller to the same network as the CCU (University of Aveiro's internal network won't work)</li>
                    <li>Download the StandUserInterface files</li>
                    <li>If not installed, install Python 3 and PIP3. Also install libjpeg-dev package using for example sudo apt-get install libjpeg8-dev</li>
                    <li>On the StandUserInterface folder, run pip/pip3 (the pip corresponding to the Python3 you have installed) -r requirements.txt. Administrator privileges might be needed. The installation might take a while.</li>
                    <li>To run the scripts responsible for the ID Reader, run python3 StandScripts/idReader.py  [IP Address of the CCU] [Number of Canteen] [Number of the Food Stand at the canteen]</li>
                    <li>To run the scripts responsible for the Weight Sensors, run python (must use python2) StandScripts/WeightScript.py [IP Address of the CCU] [Number of Canteen] [Number of the Food Stand at the canteen]</li>
                    <li>To run the scripts responsible for the Weight Sensors, run python3 StandScripts/HC_SR04.py [IP Address of the CCU] [Number of Canteen] [Number of the Food Stand at the canteen]</li>
                    <li>To run the interface, run python3 SUI.py [IP Address of the CCU]</li>
                </ol>
    </div>
</div>

<div id="details">
        <div class="title">
            <h2>Quickstart Info</h2>
            <h4>Please pay attention some links are not public (links for CodeUA files)</h4>
        </div>
                
        <!-- <div class="card-deck">
        {% for card in site.data.architecture-deployment %}
            {% include infobox.html %}
        {% endfor %}
        </div> -->
        
        <div style="text-align: center">
        <a class="btn btn-round btn-info"  href="http://xcoa.av.it.pt/~pei2018-2019_g08/assets/docs/IoTNutrition_Developers_Documentation.pdf">IoT for Nutrition Developers Documentation</a>
        <br>Includes documentation for the Server and Database API and the Canteen Control Unit Modules
        </div>
        <br>
        <!--Table-->
        <table id="tablePreview" class="table" style="table-layout:fixed">
            <!--Table head-->
            <thead>
            <tr>
                <th>Category</th>
                <th>Component</th>
                <th>Details</th>
            </tr>
            </thead>
            
            <tbody>
                {% for item in site.data.developers-quickstart %}
                <tr>
                    <th scope="row">{{ item.category }}</th>
                    <td>{{ item.title }} </td>
                    <td>{{ item.details }} </td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        
    </div>
        

