---
layout: page
title: Beyond PEI
description: "Our Pilot Test in Collaboration with University of Aveiro's SAS"
button: false
button_ref: None
button_description: None
comments: false
header-image: true
header-path: "images/getting-started.jpg"
toc: true
---

<!-- 
Aimed at someone wanting to understand the project context, objectives, high level
planning among other information

- know the team
- Have an understanding of the context
- Identify the problem
- Have a description of the solution high level features - those you want to be known
- Have , if applicable, the looks of the solution from mockup to prototypes and the final system...
- The TECH SPECS and architecture of the system
- Have an overview on the schedule (e.g. features vs timeline )
- Have a notion of possible Risks and challenges

 -->

<!-- Why a Pilot Test? -->
<div id="why" >
    <div class="title" style="text-align: center">
    <h2>Why a Pilot Test?</h2>
    </div>

    <h3 data-toc-skip>During PEI we are creating a proof-of-concept</h3> 
    During our work in Project of Informatics Engineering, we are trying to prove our system is possible by presenting a working proof-of-concept of a solution to solve the food portions issue. 
    
    <h3 data-toc-skip>But we are leaving behind real-world issues</h3> 
    But proving a proof-of-concept means leaving aside considerations about the system's usability on real deployment situations. 
    
    <h3 data-toc-skip>How are we planning to solve that?</h3> 
    The implementation of a pilot version of our system at Crasto’s Canteen, under the responsibility of SASUA (Serviços de Ação Social da Universidade de Aveiro), will hopefully lead to a better perspective on the user side regarding the system’s usability and possibly unveil details that require adjustment.
    <br>
    The feedback from both the canteen as well as the users that will have their meal there will be critical in order to progress with the project and ensure that the next steps taken will be on the right direction.
    <br>
</div>

<!-- Who are we working with? -->
<!-- <div id="who">
    <div class="title" style="text-align: center">
        <h2>Who are we working with?</h2>
        <h3 data-toc-skip>Meet our persona</h3>
    </div>

    <div class="card-deck">
        {% for persona in site.data.getting_started-persona %}
        <div class="card" style="width: 20rem;">
            <a>
                <img class="card-img-top" style="width: 100%;" src="{{ site.assets }}/images/persona/{{ persona.photo }}" alt="{{ persona.name }}">
            </a>

            <div class="card-header card-header-info">
                <a style="font-weight: bold">{{persona.name}}</a>
                <p class="category">{{persona.description}}</p>
            </div>
            <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="font-weight: bold">Motivations:</li>
                {% for characteristic in persona.characteristics %} 
                    <li class="list-group-item">{{characteristic}}</li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</div> -->
 
<!-- Our Goals -->    
<div id="goals">
    <div class="title" style="text-align: center">
        <h2>Our Goals</h2>
        <h3 data-toc-skip>What we are hoping to achieve during our collaboration with SASUA</h3>
    </div>

    <div id="goals">
        <div class="card-deck">
            {% for goals in site.data.pilot %}
            {% if goals.category == "goals" %}
            <div class="card" style="width: 20rem;">
                <div class="card-header card-header-success">{{goals.title}}</div>
        
                <ul class="list-group list-group-flush">
                    {% for goal in goals.features %} 
                        <li class="list-group-item">{{goal}}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% endfor %}
        </div>    
    </div>    
</div>

<!-- What we propose -->    
<div id="what">
    <div class="title" style="text-align: center">
        <h2>What we propose</h2>
    </div>
    <div id="goals">
            <div class="card-deck">
                {% for goals in site.data.pilot %}
                {% if goals.category == "what-we-propose" %}
                <div class="card" style="width: 20rem;">
                    <div class="card-header card-header-info">{{goals.title}}</div>
            
                    <ul class="list-group list-group-flush">
                        {% for goal in goals.features %} 
                            <li class="list-group-item">{{goal}}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% endfor %}
            </div>    
        </div>    
</div> 

<!-- Our concerns (SWOT) -->
<div id="concerns">
    <div class="title" style="text-align: center">
        <h2>Our concerns</h2>
    </div>
    <div id="goals">
            <div class="card-deck">
                {% for goals in site.data.pilot %}
                {% if goals.category == "concerns" %}
                <div class="card" style="width: 20rem;">
                    <div class="card-header card-header-danger">{{goals.title}}</div>
            
                    <ul class="list-group list-group-flush">
                        {% for goal in goals.features %} 
                            <li class="list-group-item">{{goal}}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% endfor %}
            </div>    
        </div>   
</div> 

<!-- What's Next -->
<!-- <div id="next">
    <div class="title" style="text-align: center">
        <h2>What's next?</h2>
    </div>
    We're going to start implementing the final Database, and all the modules that interact directly with the users (ie the UI). See <a href="/features.html">Features</a>) for more info on future demos.
</div>  -->

<!-- Who are we -->
<div id="who">
    <div class="title" style="text-align: center">
    <h2>Questions? </h2>
    <h3 data-toc-skip><a href="mailto:pedro.teix@ua.pt">Please click here to contact us</a></h3>
    <!-- <h3 data-toc-skip></h3>
    </div>
    
    <br>
    <div class="row" style=" text-align: center;">
        {% for member in site.data.team %}
            {% if member.mentor == false %}
            <div class="col-sm-2 ml-auto">
                <img class="rounded-circle img-fluid" alt="Circle Image" src="{{ site.assets }}/images/team/{{ member.photo }}">
                <h4 style="font-weight: bold;">{{ member.name }}</h4>
            </div>
            {% endif %}
    
        {% endfor %}
    </div> --> 
</div>

<!-- More details -->
<!-- <div id="details">
    <div class="title" style="text-align: center">
        <h2>More Details</h2>
    </div>
    <div class="card-deck">
        {% for card in site.data.getting_started-details %}
            {% include infobox.html %}
        {% endfor %}
    </div>

</div> -->
