---
layout: page-big-header
title: Team
description: "Group 8 - The Nutrition Team"

header-image: true
header-path: "images/team/team-all-1.jpg"

button: false
button-ref: None 
button-description: None
---

<div id="team">
    <div class="title"  style="text-align: center;">
        <h2>Team</h2>
        <h3 >5 students in the 3rd Year of their Computer Engineering Course, solving a concrete problem in their final project.</h3>
    </div>
    <br>
    <div class="row" style=" text-align: center;">
        {% for member in site.data.team %}
            {% if member.mentor == false %}
            <div class="col-sm-2 ml-auto">
                <img data-toggle="tooltip" data-placement="top" title="{{ member.role }}" class="rounded-circle img-fluid" alt="Circle Image" src="{{ site.assets }}/images/team/{{ member.photo }}">
                <h4 style="font-weight: bold;">{{ member.name }}</h4>
                <h5>{{ member.description }}</h5>
            </div>
            {% endif %}
    
        {% endfor %}
    </div>
</div>
    
<div id="mentors">
    <div class="title"  style="text-align: center;">
        <h2>Mentors</h2>
    </div>
    <br>
    <div class="row" style=" text-align: center;">
        {% for member in site.data.team %}
            {% if member.mentor == true %}
            <div class="col-sm-5 ml-auto">
                <a>
                    <img class="rounded-circle img-fluid" alt="Circle Image" src="{{ site.assets }}/images/team/{{ member.photo }}">
                </a>
                <h4 style="font-weight: bold;">{{ member.name }}</h4>
                <h5>{{ member.description }}</h5>
                
            </div>
            {% endif %}
    
        {% endfor %}
    </div>
</div>

<div id="mentors">
    <div class="title"  style="text-align: center;">
        <h2>Institution</h2>
    </div>
    <br>
    
    <a href="https://www.ua.pt/deti/"><img alt="University of Aveiro Logo" style="display: block; margin-left: auto; margin-right: auto; width:90%" src="{{ site.assets }}/images/institucional.png"></a>
    
</div>

<div id="mentors">
    <div class="title"  style="text-align: center;">
        <h2>Sponsors</h2>
    </div>
    <br>
    
    <a><img alt="IEETA And IT Logos" style="display: block; margin-left: auto; margin-right: auto; width:90%" src="{{ site.assets }}/images/sponsors.png"></a>
    
</div>

<div id="mentors" style="text-align: center;">
    <div class="title">
        <h2>Acknowledgements</h2>
    </div>
    <a>The team would like to thank Ana Alexandre for photography and audiovisual support and Ricardo Chaves for the 3D modelling for the mockups.</a>
    <br>
    
    
</div>


