---
layout: page
title: Current Status
description: "Current status of our project"
button: false
button-ref: None
button-description: None
header-image: true
header-path: "images/developers.jpg"
toc: false
---

<!-- <div id="diagram">
    <div class="title">
    <h2>System Overview</h2>
    </div>

    <img class="center" src="{{site.assets}}/images/architecture.png" alt="Project Architecture Diagram" style="max-width:100%;
    max-height:100%;"></img>
    <p class="text-muted" style="text-align: center">
        IoT for Nutrition Detailed Architecture Diagram
    </p>
</div>
 -->
<div id="details">
    <div class="title">
        <h2>Current Status</h2>
     <!--    <h4>The described techonlogies are the <b>currently deployed</b> technologies.</h4> -->
    </div>
            
    <!-- <div class="card-deck">
    {% for card in site.data.architecture-deployment %}
        {% include infobox.html %}
    {% endfor %}
    </div> -->

    <!--Table-->
    <table id="tablePreview" class="table" style="table-layout:fixed">
        <!--Table head-->
        <thead>
        <tr>
            <th>Category</th>
            <th>Component</th>
            <th>Status</th>
        </tr>
        </thead>
        
        <tbody>
            {% for deployment in site.data.for_developers %}
            <tr>
                <th scope="row">{{ deployment.category }}</th>
                <td>{{ deployment.title }} </td>
                <td>{{ deployment.tech }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    
</div>
    
        
        
