---
layout: page
title: Personas and Scenarios
description: "Who will use our system and why"
button: false
button_ref: None
button_description: None
comments: false
header-image: true
header-path: "images/getting-started.jpg"
toc: false
---

<!-- Who would have this problem ? -->
<div id="how">
        <div class="title" style="text-align: center">
            <h2>Persona</h2>
            <h3 data-toc-skip>Who will use our system and why</h3>
        </div>
    
        <div class="card-deck">
            {% for persona in site.data.personas %}
            <div class="card" style="width: 20rem;">
                <a>
                    <img class="card-img-top" style="width: 100%;" src="{{ site.assets }}/images/persona/{{ persona.photo }}" alt="{{ persona.name }}">
                </a>
    
                <div class="card-header card-header-primary">
                    <a style="font-weight: bold">{{persona.name}}</a>
                    <p class="category">{{persona.description}}</p>
                </div>
                <ul class="list-group list-group-flush">
                        <li class="list-group-item" style="font-weight: bold">Motivations:</li>
                    {% for characteristic in persona.characteristics %} 
                        <li class="list-group-item">{{characteristic}}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>

<div id="how">
    <div class="title" style="text-align: center">
        <h2>Usage Scenarios</h2>
        <h3 data-toc-skip>How the system will be used</h3>
    </div>


    <div class="list-group">
            <!--Table-->
            <table id="tablePreview" class="table" style="table-layout:fixed">
                <!--Table head-->
                <thead>
                <tr>
                    <th>Feature</th>
                    <th>Scenario</th>
                    <th>Scenario Description</th>
                    <th>Scenario Status</th>
                </tr>
                </thead>
                
                <tbody>
                    {% for feature in site.data.scenarios %}
                    {% if feature.FEATURE-STATUS == ToDo %}
                    <tr>
                        <th scope="row">{{ feature.FEATURE_TITLE }}<br>{{ feature.FEATURE_DESCRIPTION }}</th>
                        <td>{{ feature.SCENARIO }} </td>
                        <td>{{ feature.SCENARIO_DESCRIPTION }}</td>
                        <td>{{ feature.SCENARIO_STATUS }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            
            
        </div>
            
       
</div>
    