---
layout: page
title: Personas and Scenarios
description: "Who will use our system and why"
button: false
button_ref: None
button_description: None
comments: false
header-image: true
header-path: "images/getting-started.jpg"
toc: false
---

<!-- Who would have this problem ? -->
<div id="how">
        <div class="title" style="text-align: center">
            <h2>Persona</h2>
            <h3 data-toc-skip>Who will use our system and why</h3>
        </div>
    
        <div class="card-deck">
            {% for persona in site.data.personas %}
            <div class="card" style="width: 20rem;">
                <a>
                    <img class="card-img-top" style="width: 100%;" src="{{ site.assets }}/images/persona/{{ persona.photo }}" alt="{{ persona.name }}">
                </a>
    
                <div class="card-header card-header-primary">
                    <a style="font-weight: bold">{{persona.name}}</a>
                    <p class="category">{{persona.description}}</p>
                </div>
                <ul class="list-group list-group-flush">
                        <li class="list-group-item" style="font-weight: bold">Motivations:</li>
                    {% for characteristic in persona.characteristics %} 
                        <li class="list-group-item">{{characteristic}}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>

<div id="how">
    <div class="title" style="text-align: center">
        <h2>Usage Scenarios</h2>
        <h3 data-toc-skip>How the system will be used</h3>
    </div>


    <div class="list-group">
        <h4 style="text-align: center;">Approved scenarios</h4>
        {% for feature in site.data.features %}
            {% if feature.STATUS == "ToDo" %}
            <a class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"></h5>
                
                <small></small>
                </div>

                Scenarios:
                
               
                <p class="mb-1">
               
                </p>
            
                <!-- <small>Donec id elit non mi porta.</small> -->
            </a>
            {% endif %}
        {% endfor %} 

       
</div>
    